:root {
  --theme: hsl(189, 100%, 27%);

  --foreground-theme: hsl(0, 0%, 100%);
  --foreground-theme-secondary: hsla(0, 0%, 100%, .8);

  --background-light: hsl(210, 33%, 99%);
  --background: hsl(210, 29%, 96%);
  --background-dark: hsl(213, 25%, 87%);

  --foreground: hsl(216, 33%, 15%);
  --foreground-secondary: hsl(215, 18%, 33%);

  --shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow-x: hidden;
}
