.app-hover {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, calc(-100% - 8px));
  min-width: 252px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid var(--hud-border);
  background: rgb(255, 255, 255);
  box-shadow: var(--shadow-1);
}

.app-hover.flip {
  transform: translate(-50%, var(--cell-size));
}

.app-hover:before {
  content: '';
  position: absolute;
  left: var(--before-offset);
  bottom: 0;
  width: 12px;
  height: 12px;
  background: rgb(255, 255, 255);
  transform: translate(-50%, 7px) rotate(45deg);
  box-shadow: 1px 1px 0 0 var(--hud-border);
}

.app-hover.flip:before {
  top: 0;
  bottom: auto;
  transform: translate(-50%, -7px) rotate(225deg);
  box-shadow: -1px -1px 0 0 var(--hud-border);
}

.hover-title {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 600;
}

.hover-title > span:last-child {
  color: var(--foreground-secondary);
}

.hover-charts {
  display: flex;
  gap: 5px;
}

.hover-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 10px;
  color: var(--foreground-secondary);
}

.hover-chart-bar {
  display: flex;
  height: 56px;
  width: 14px;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 4px;
  background: rgba(31, 41, 55, 0.08);
}

.hover-chart-bar > div {
  transition: all .2s ease;
}
