.app-hover {
  position: absolute;
  transform: translate(-50%, calc(-100% - 7px));
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 4px;
  background: var(--background-light);
  border: solid 1px var(--background-dark);
  box-shadow: var(--shadow-2);
}

.app-hover.flip {
  transform: translate(-50%, var(--cell-size));
}

.app-hover:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: var(--background-light);
  position: absolute;
  bottom: 0;
  left: var(--before-offset);
  transform: translate(-50%, 6px) rotate(45deg);
  border: 1px solid transparent;
  border-bottom-color: var(--background-dark);
  border-right-color: var(--background-dark);
}

.app-hover.flip:before {
  top: 0;
  bottom: none;
  transform: translate(-50%, -6px) rotate(225deg);
}

.hover-title {
  display:flex;
  font-size: 18px;
  padding-bottom: 5px;
  justify-content: space-between;
}

.hover-charts {
  display: flex;
}

.hover-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
  font-size: 12px;
}

.hover-chart-bar {
  display: flex;
  height: 60px;
  width: 15px;
  background-color: #eee;
  flex-direction: column;
  justify-content: flex-end;
}

.hover-chart-bar > div {
  transition: all .2s ease;
}
