header {
  background-color: var(--foreground-secondary);
  color: var(--background);
  box-shadow: var(--shadow-2);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 {
  margin: 0;
}

header > a {
  color: var(--background);
  font-size: 2em;
}

.map-holder {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .map-holder {
    padding: 5px;
  }
}
